* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(70, 69, 69);
}
body {
  font-family: "Lato", "Arial", sans-serif;
}
.App {
  transition: all 0.5s ease;
}
.active-app {
  margin-left: 10%;
}
@import "./player";
@import "./song";
@import "./library";
@import "./librarySong";
@import "./nav";
